@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: "Poppins", sans-serif;
}




nav {
    background-color: #D4AF37;
    padding: 0.5cm;
}

main {
    background-color: #424C55;
     padding: 0.5cm;
     -webkit-text-fill-color: #F8F4E3;
}

footer {
     background-color: #F8F4E3;
     -webkit-text-fill-color: #424C55;
      padding: 0.5cm;
}

main1 {
    background-color: #d34949;
     padding: 0.5cm;
     -webkit-text-fill-color: #424C55;
}